*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #19191B;
    color: #FFFFFF;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.LOGO img{
    width: 90px;
}
.derecha{
    display: flex;
    gap: 10px;
}
.derecha img{
    width: 45px;
}