* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 10px 30px;
    background: linear-gradient(to right,#57f4ff,#3c69ff);
    font-family: cursive;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
h1 {
    text-align: center;
    text-shadow: 5px 1px 10px #440078;
    padding-bottom: 20px;
}
h2 {
    font-style: italic;
    font-weight: 550;
}
form, h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    gap: 10px;
    width: 1000px;
}
form {
    margin-top: 10px;
    border: 2px solid#5b04fd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 1px 5px #d900ff;
    width: 100%;
    max-width: 400px;
}
.itemform {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}
input, select {
    height: 25px;
    border-radius: 10px;
    padding-left: 8px;
    transition-duration: 0.5s slow;
}
input[type="text"]:focus, select:focus{
    box-shadow: 4px 1px 2px greenyellow;
}
h1::before{
    content: "$ ";
    font-size: 14px;
    border: 1px solid black;
}

